.a3dmv-tab-panel [role="tablist"] {
  justify-content: space-around;
  .components-tab-panel__tabs-item {
    background: #d3d3d3;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      background: var(--wp-components-color-accent-darker-10, var(--wp-admin-theme-color-darker-10, #2145e6));
      color: var(--wp-components-color-accent-inverted, #fff);
    }
  }
}
