.bMediaUpload {
  position: relative;
  margin-bottom: 12px;
}
.bMediaUpload button {
  position: absolute;
  right: 0px;
  height: 32px;
  padding: 3px !important;
  color: #fff !important;
  outline: 0;
  bottom: 0px;
  border-radius: 0px !important;
}
.block-editor-block-inspector .bMediaUpload .components-base-control {
  width: 100%;
  margin-bottom: 0px;
}
.bMediaUpload .components-base-control input {
  width: 100%;
  padding-right: 40px;
}
.bMediaUpload button:focus {
  outline: 0;
  box-shadow: 0 0 0 0px #007cba !important;
}
.bMediaUpload .components-panel__row {
  min-height: 30px;
}
.bMediaUpload label {
  margin-top: 3px;
  display: inline-block;
  margin-bottom: 5px;
}
